In [2]:
import pandas as pd
from scipy.stats import pearsonr, chi2_contingency, wilcoxon, friedmanchisquare, mannwhitneyu
from scipy.stats import kruskal, ttest_1samp, ttest_rel, ttest_ind

In [4]:
df = pd.read_excel("G:\Certifications\Datascience\AI-ML Assignments\Day 10\general_data.xls",sheet_name=0)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [7]:
df = df.dropna(axis=0)
df.Attrition = df.Attrition.replace(['Yes','No'],[0,1])

In [9]:
df.skew()

Age                        0.413048
Attrition                 -1.846529
DistanceFromHome           0.955517
Education                 -0.288977
EmployeeCount              0.000000
EmployeeID                -0.002335
JobLevel                   1.021797
MonthlyIncome              1.367457
NumCompaniesWorked         1.029174
PercentSalaryHike          0.819510
StandardHours              0.000000
StockOptionLevel           0.967263
TotalWorkingYears          1.115419
TrainingTimesLastYear      0.551818
YearsAtCompany             1.764619
YearsSinceLastPromotion    1.980992
YearsWithCurrManager       0.834277
dtype: float64

In [12]:
df.kurtosis()

Age                       -0.409517
Attrition                  1.410313
DistanceFromHome          -0.230691
Education                 -0.565008
EmployeeCount              0.000000
EmployeeID                -1.198607
JobLevel                   0.388189
MonthlyIncome              0.990836
NumCompaniesWorked         0.014307
PercentSalaryHike         -0.306951
StandardHours              0.000000
StockOptionLevel           0.356755
TotalWorkingYears          0.909316
TrainingTimesLastYear      0.494215
YearsAtCompany             3.930726
YearsSinceLastPromotion    3.592162
YearsWithCurrManager       0.170703
dtype: float64

In [ ]:

In [18]:

stats, p, dof, expected = chi2_contingency(crosstable)
print(f'The Value of p in chi2_contingency test is: {p}')
if p < 0.05:
    print('The variables are dependent')
else:
    print('The variables are not dependent')
The Value of p in chi2_contingency test is: 2.3829705707693105e-06
The variables are dependent

# Wilcoxon Test

In [14]:
stats, p = wilcoxon(df.Attrition, df.Age)
print(stats,p)

0.0 0.0

# Freidmann Test

In [15]:
stats, p = friedmanchisquare(df.Attrition, df.Age, df.DistanceFromHome, df.MonthlyIncome)
print(stats,p)

12949.002727566914 0.0

# Mann-Whitney Test

In [17]:
stats, p = mannwhitneyu(df.Attrition, df.Education)
print(stats,p)

933958.0 0.0

# Krushal - Wallis Test

In [18]:
stats, p = kruskal(df.Attrition, df.Education,df.JobLevel)
print(stats,p)

7148.6103867534675 0.0

# Chi-sqaure Test

In [19]:
crosstable = pd.crosstab(df.Attrition,df.Department)
crosstable

Department  Human Resources  Research & Development  Sales
Attrition
0                        55                     449    201
1                       132                    2416   1129

In [20]:
stats, p, dof, expected = chi2_contingency(crosstable)
print(stats,p)

25.894325419160225 2.3829705707693105e-06