In [75]:
import pandas as pd
from scipy.stats import pointbiserialr
from scipy.stats import pearsonr

In [76]:
df = pd.read_excel("G:\Certifications\Datascience\AI-ML Assignments\Day 10\general_data.xls",sheet_name=0)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [77]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [79]:
df.Attrition.replace(to_replace = ('No','Yes'), value = (0,1), inplace = True)

# Correlation between Attrition & Age

__H0 = There is no correlation b/w Attrition and Age__

__H1 = There is correlation b/w Attrition and Age__

___Since p value < 0.05 we are rejecting Null hypothesis.There is correlation b/w Attrition and Age___

In [81]:
stats,p = pearsonr(df.Attrition, df.Age)
print(stats,p)

-0.15920500686577965 1.996801615886744e-26

# Correlation between Attrition & Distance from Home

__H0 = There is no correlation b/w Attrition and Distance from home__

__H1 = There is correlation b/w Attrition and Distance from home__

___Since p value > 0.05 we are Accepting Null hypothesis.There is no correlation b/w Attrition and Distance from home___

In [92]:
stats,p = pearsonr(df.Attrition, df.DistanceFromHome)
print(stats,p)

-0.009730141010179674 0.5182860428050771

# Correlation between Attrition & Education

__H0 = There is no correlation b/w Attrition and Education__

__H1 = There is correlation b/w Attrition and Education__

___Since p value > 0.05 we are Accepting Null hypothesis.There is no correlation b/w Attrition and Education___

In [89]:
stats,p = pearsonr(df.Attrition, df.Education)
print(stats,p)

-0.015111167710968713 0.3157293177118575

# Correlation between Attrition & Percentage Salary Hike

__H0 = There is no correlation b/w Attrition and Percentage Salary Hike__

__H1 = There is correlation b/w Attrition and Percentage Salary Hike__

___Since p value < 0.05 we are rejecting Null hypothesis.There is correlation b/w Attrition and Percentage Salary Hike___

In [91]:
stats,p = pearsonr(df.Attrition, df.PercentSalaryHike)
print(stats,p)

0.03253259489105349 0.030743386433355353

# Correlation between Attrition & Monthly Income

__H0 = There is no correlation b/w Attrition and Monthly Income__

__H1 = There is correlation b/w Attrition and Monthly Income__

___Since p value < 0.05 we are rejecting Null hypothesis.There is correlation b/w Attrition and Monthly Income___

In [93]:
stats,p = pearsonr(df.Attrition, df.MonthlyIncome)
print(stats,p)

-0.031176281698115007 0.03842748490600132

# Correlation between Attrition & Years Since Last Promotion

__H0 = There is no correlation b/w Attrition and Years Since Last Promotion__

__H1 = There is correlation b/w Attrition and Years Since Last Promotion__

___Since p value < 0.05 we are rejecting Null hypothesis.There is correlation b/w Attrition and Years Since Last Promotion___

In [94]:
stats,p = pearsonr(df.Attrition, df.YearsSinceLastPromotion)
print(stats,p)

-0.03301877514258434 0.028330336189396753

# Correlation between Attrition & Years With Current Manager

__H0 = There is no correlation b/w Attrition and Years With Current Manager__

__H1 = There is correlation b/w Attrition and Years With Current Manager__

___Since p value > 0.05 we are Accepting Null hypothesis.There is no correlation b/w Attrition and Years With Current Manager___

In [95]:
stats,p = pearsonr(df.Attrition, df.YearsWithCurrManager)
print(stats,p)

-0.15619931590162847 1.7339322652896276e-25